services:
  caddy:
    container_name: caddy
    image: homeall/caddy-reverse-proxy-cloudflare:2025.10.21
    environment:
      - CADDY_INGRESS_NETWORKS=caddy
    labels:
      caddy.email: $CF_EMAIL
      caddy.acme_dns: "cloudflare ${CF_API_TOKEN}"
      caddy_0: (internal)
      caddy_0.@internal: remote_ip private_ranges
      caddy_0.@external: not remote_ip private_ranges
      caddy_0.reverse_proxy: "@internal {args[:]}"
      caddy_0.respond: "@external `Forbidden` 403"
      caddy_1: ${HOSTNAME}.${DOMAIN}
      caddy_1.import: internal ${HOSTNAME}.${DOMAIN}:5000
      org.hotio.pullio.update: ${PULLIO_UPDATE}
    network_mode: host
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - caddyData:/data
    restart: unless-stopped

  # Radarr - https://hotio.dev/containers/radarr/
  radarr:
    container_name: radarr
    image: ghcr.io/hotio/radarr:release
    depends_on:
      - qbittorrent
    extends:
      file: xbase.yml
      service: x-base
    labels:
      caddy: radarr.${DOMAIN}
      caddy.import: internal "{{upstreams 7878}}"
    healthcheck:
      test: [ "CMD", "curl", "--fail", "https://radarr.${DOMAIN}/ping" ]
      interval: 1m
      start_period: 30s
    networks:
      - caddy
    volumes:
      - ${DOCKERCONFDIR}/radarr:/config
      - ${DOCKERSTORAGEDIR}:/data

  # Sonarr - https://hotio.dev/containers/sonarr/
  sonarr:
    container_name: sonarr
    image: ghcr.io/hotio/sonarr:release
    extends:
      file: xbase.yml
      service: x-base
    depends_on:
      - qbittorrent
    labels:
      caddy: sonarr.${DOMAIN}
      caddy.import: internal "{{upstreams 8989}}"
    healthcheck:
      test: [ "CMD", "curl", "--fail", "https://sonarr.${DOMAIN}/ping" ]
      interval: 1m
      start_period: 30s
    networks:
      - caddy
    volumes:
      - ${DOCKERCONFDIR}/sonarr:/config
      - ${DOCKERSTORAGEDIR}:/data

  lidarr:
    container_name: lidarr
    image: ghcr.io/hotio/lidarr:release
    extends:
      file: xbase.yml
      service: x-base
    depends_on:
      - qbittorrent
    labels:
      caddy: lidarr.${DOMAIN}
      caddy.import: internal "{{upstreams 8686}}"
    healthcheck:
      test: [ "CMD", "curl", "--fail", "https://lidarr.${DOMAIN}/ping" ]
      interval: 1m
      start_period: 30s
    networks:
      - caddy
    volumes:
      - ${DOCKERCONFDIR}/lidarr:/config
      - ${DOCKERSTORAGEDIR}:/data

  # Bazarr - https://hotio.dev/containers/bazarr/
  bazarr:
    container_name: bazarr
    image: ghcr.io/hotio/bazarr:release
    extends:
      file: xbase.yml
      service: x-base
    depends_on:
      - sonarr
      - radarr
    labels:
      caddy: bazarr.${DOMAIN}
      caddy.import: internal "{{upstreams 6767}}"
    networks:
      - caddy
    volumes:
      - ${DOCKERCONFDIR}/bazarr:/config
      - ${DOCKERSTORAGEDIR}/media:/data/media

  # qBittorrent - https://hotio.dev/containers/qbittorrent
  qbittorrent:
    container_name: qbittorrent
    image: ghcr.io/hotio/qbittorrent:release-5.1.4
    extends:
      file: xbase.yml
      service: x-base
    labels:
      caddy: qbit.${DOMAIN}
      caddy.import: internal "{{upstreams ${QBITTORRENT_WEBUI_PORT}}}"
    networks:
      - caddy
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    sysctls:
      - net.ipv4.conf.all.src_valid_mark=1
      - net.ipv6.conf.all.disable_ipv6=1 # Optional, if you want to use ipv6, remove this line. If you keep this line, make sure there is no ipv6 in your wg0.conf.
    environment:
      - VPN_ENABLED=${VPN_ENABLED}
      - VPN_CONF=wg0-fix
      - VPN_PROVIDER=generic
      - VPN_LAN_NETWORK=${VPN_LAN_NETWORK}
      - VPN_NAMESERVERS=wg
      - WEBUI_PORTS=${QBITTORRENT_WEBUI_PORT}/tcp,${QBITTORRENT_WEBUI_PORT}/udp
    volumes:
      - ${DOCKERCONFDIR}/qbittorrent:/config:rw
      - ${DOCKERSTORAGEDIR}/torrents:/data/torrents:rw

  # Prowlarr - https://hotio.dev/containers/prowlarr/
  prowlarr:
    container_name: prowlarr
    image: ghcr.io/hotio/prowlarr:release
    extends:
      file: xbase.yml
      service: x-base
    depends_on:
      - sonarr
      - radarr
    labels:
      caddy: prowlarr.${DOMAIN}
      caddy.import: internal "{{upstreams 9696}}"
    networks:
      - caddy
    environment:
      - ARGS=
    volumes:
      - ${DOCKERCONFDIR}/prowlarr:/config:rw

  # unpackerr - https://hub.docker.com/r/hotio/unpackerr
  unpackerr:
    container_name: unpackerr
    image: ghcr.io/hotio/unpackerr:release
    extends:
      file: xbase.yml
      service: x-base
    network_mode: none
    volumes:
      - ${DOCKERCONFDIR}/unpackerr:/config
      - ${DOCKERSTORAGEDIR}:/data

  # Jellyfin - https://hotio.dev/containers/jellyfin/
  jellyfin:
    container_name: jellyfin
    image: ghcr.io/hotio/jellyfin:release-10.11.4
    extends:
      file: xbase.yml
      service: x-base
    labels:
      caddy: jellyfin.${DOMAIN}
      caddy.reverse_proxy: "{{upstreams 8096}}"
    healthcheck:
      test: [ "CMD", "curl", "--fail", "https://jellyfin.${DOMAIN}/health" ]
      interval: 1m
      start_period: 30s
    networks:
      - caddy
    volumes:
      - ${DOCKERCONFDIR}/jellyfin:/config
      - ${DOCKERSTORAGEDIR}/media:/data/media
    devices:
      - /dev/dri:/dev/dri

  jellyseerr:
    container_name: jellyseerr
    image: ghcr.io/hotio/jellyseerr:release
    extends:
      file: xbase.yml
      service: x-base
    depends_on:
      - jellyfin
    labels:
      caddy: jellyseerr.${DOMAIN}
      caddy.reverse_proxy: "{{upstreams 5055}}"
    networks:
      - caddy
    volumes:
      - ${DOCKERCONFDIR}/jellyseerr:/config
      - ${DOCKERSTORAGEDIR}/media:/data/media

  mealie:
    container_name: mealie
    image: ghcr.io/mealie-recipes/mealie:v3.3.2
    extends:
      file: xbase.yml
      service: x-base
    labels:
      caddy: mealie.${DOMAIN}
      caddy.reverse_proxy: "{{upstreams 9000}}"
    deploy:
      resources:
        limits:
          memory: 1000M
    networks:
      - caddy
    volumes:
      - ${DOCKERCONFDIR}/mealie:/app/data
    environment:
      ALLOW_SIGNUP: false
      BASE_URL: https://mealie.${DOMAIN}
      SMTP_HOST: ${MEALIE_SMTP_HOST}
      SMTP_FROM_EMAIL: ${MEALIE_SMTP_USER}
      SMTP_USER: ${MEALIE_SMTP_USER}
      SMTP_PASSWORD: ${MEALIE_SMTP_PASSWORD}

networks:
  caddy:
    external: true

volumes:
  caddyData:
